.presentations {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 3em;
}

.presentations-title {
    font-size: 1.25em;
    font-weight: 700;
    margin-bottom: 2em;
    text-align: center;
}

.presentation {
    margin-bottom: 1em;
    padding-bottom: 1em;
    @include row();
}

.presentation-title {
    color: #614200;
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: 1em;
}

.presentation-speaker {
    position: relative;
}

.presentation-speaker-name {
    background-color: #222222;
    border-radius: 25px;
    color: #ffffff;
    display: block;
    font-size: 1.125em;
    padding: 0.4em 1em;
    text-align: center;

}

.presentation-speaker-company {
    border-bottom: 1px solid #cccccc;
    display: block;
    font-size: 1.125em;
    margin-left: 1em;
    margin-bottom: 0.25em;
    padding: 0.5em 0 0.25em 0.5em;
    text-align: center;
}

.presentation-speaker-twitter {
    border-bottom: 1px solid #cccccc;
    display: block;
    font-size: 1.125em;
    margin-left: 1em;
    text-align: center;
    margin-bottom: 1em;
    padding: 0.25em 0 0.5em 0.5em;
}

.presentation-speaker-image {
    border: 8px solid #222222;
    border-radius: 50%;
    display: block;
    height: 150px;
    margin: 0 auto;
    width: 150px;
}

@include respond-to(760) {
    .presentation {
        min-height: 240px;
    }

    .presentation-speaker-name {
        text-align: left;
        width: 90%;
    }

    .presentation-speaker-company {
        text-align: left;
    }

    .presentation-speaker-twitter {
        text-align: left;
    }

    .presentation-speaker-image {
        position: absolute;
        top: 0;
        right: 0;
    }
}

@include respond-to(990) {
    .presentation-title {
        float: left;
        margin-right: 4%;
        width: 56%;
    }

    .presentation-speaker {
        position: relative;
        float: right;
        width: 40%;
    }

    .presentation-speaker-name {
        width: 80%;
    }
}