$black: #000000;
$white: #ffffff;
$default-text-color: #303030;
$link-color: #0192c2;
$link-hover-color: #eb4e32;

$nav-text: $default-text-color;
$nav-hover-bg: #ededed;
$nav-hover-text: #eb4e32;
$nav-active-text: #eb4e32;