{{ partial "html-header.html" . }}
<div class="page">
    {{ partial "site-header.html" . }}
    <div class="site-content">
        <span class="meetup-date">
            9:e februari, 17:30 <br />
            Campus Gräsvik 2, Karlskrona
        </span>
        <p class="meetup-info">
            Ta chansen att snacka om saker du älskar och hatar med webb och mjukvarutveckling med människor som förstår dig! Samma människor som bara får tomma blickar till svar när de svarar på frågan vad de jobbar med. Personer precis som du som brinner för programmering, mjukvara och webben. Har du några galna idéer som du vill pitcha, ett projekt du vill få feedback på eller har testat ett nytt ramverk som bara är så sjukt nice att använda. Oavsett, dela med dig och ta chansen att diskutera styrkan och svagheter på olika lösningar och projekt eller vad det nu kan vara.
        </p>
    </div>
</div>
{{ partial "html-footer.html" . }}
